.logo-social-sprite, .logo-social-facebook, .logo-social-instagram, .logo-social-linkedin, .logo-social-logo, .logo-social-twitter {
  background-image: url('../img/logo-social-s0466bc2485.png');
  background-repeat: no-repeat;
}

.brands-sprite {
  background-image: url('../img/brands-s870ecedb9f.png');
  background-repeat: no-repeat;
}

.logo-social-facebook {
  background-position: 0 0;
}

.logo-social-instagram {
  background-position: -37px 0;
}

.logo-social-linkedin {
  background-position: -74px 0;
}

.logo-social-logo {
  background-position: -111px 0;
}

.logo-social-twitter {
  background-position: -211px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

.sections-wrapper {
  max-width: 1080px;
  height: 200px;
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections-wrapper .sections-wrapper-hiddenBox {
  overflow: hidden;
  display: inline-block;
  line-height: 110%;
}
.sections-wrapper .sections-wrapper-hiddenBox p span {
  font-size: 18px;
}
.sections-wrapper .sections-wrapper-hiddenBox h2 {
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 0;
}

nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  width: 100%;
}
@media (min-width: 480px) {
  nav {
    height: 80px;
  }
}
nav ul {
  padding-top: 0;
  list-style: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

.logo-social-wrapper {
  background-color: #ffffff;
  width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 480px) {
  .logo-social-wrapper {
    width: 72%;
  }
}
.logo-social-wrapper ul {
  display: none;
}
@media (min-width: 720px) {
  .logo-social-wrapper ul {
    display: block;
    margin-right: 30px;
  }
  .logo-social-wrapper ul li {
    display: inline;
  }
  .logo-social-wrapper ul li a {
    display: inline-block;
    height: 37px;
    width: 36px;
    text-indent: -9999px;
  }
}

.logo-social-logo {
  position: absolute;
  height: 45px;
  width: 100px;
  left: 35px;
  text-indent: -9999px;
}
@media (min-width: 480px) {
  .logo-social-logo {
    position: relative;
    margin-left: 18%;
    text-indent: -9999px;
    cursor: pointer;
  }
}

.menu {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  height: 100%;
}
@media (min-width: 480px) {
  .menu {
    width: 28%;
  }
}
@media (min-width: 480px) {
  .menu {
    flex-direction: column;
    background-color: black;
  }
}

.menu-wrapper {
  width: 100%;
}
@media (min-width: 480px) {
  .menu-wrapper {
    display: block;
    padding-top: 5px;
    align-items: center;
  }
}
.menu-wrapper ul {
  clear: both;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media (min-width: 480px) {
  .menu-wrapper ul {
    background-color: black;
  }
}
.menu-wrapper ul li {
  text-align: center;
}
@media (min-width: 480px) {
  .menu-wrapper ul li {
    color: #ffffff;
  }
}
.menu-wrapper ul li:first-child {
  padding-top: 5px;
}
.menu-wrapper ul li:last-child {
  padding-bottom: 5px;
}
.menu-wrapper ul li a {
  padding: 20px 0;
  color: black;
}
@media (min-width: 480px) {
  .menu-wrapper ul li a {
    color: #ffffff;
  }
}
.menu-wrapper ul li a:hover {
  color: #ffffff;
  background-color: black;
}
@media (min-width: 480px) {
  .menu-wrapper ul li a:hover {
    color: #ffffff;
    background-color: #262626;
  }
}

.menu-icon .navicon:before, .menu-icon .navicon:after {
  background-color: black;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  height: 1px;
  width: 15px;
}
@media (min-width: 480px) {
  .menu-icon .navicon:before, .menu-icon .navicon:after {
    background-color: #ffffff;
  }
}

.menu-icon .navicon, .menu-icon .navicon:before, .menu-icon .navicon:after {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.menu-icon {
  float: right;
  padding: 33px 30px 26px 30px;
  cursor: pointer;
  display: inline-block;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (min-width: 480px) {
  .menu-icon {
    float: none;
    padding-bottom: 33px;
  }
}
.menu-icon .navicon {
  background-color: black;
  display: block;
  height: 1px;
  width: 15px;
  position: relative;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
}
@media (min-width: 480px) {
  .menu-icon .navicon {
    background-color: #ffffff;
  }
}
.menu-icon .navicon:before {
  top: 7px;
}
.menu-icon .navicon:after {
  top: -7px;
}
.menu-icon .navicon p {
  clear: both;
  display: none;
}
@media (min-width: 480px) {
  .menu-icon .navicon p {
    display: inline;
    position: absolute;
    left: 35px;
    top: -25px;
    color: #ffffff;
  }
}

.menu-btn:checked ~ .menu-icon .navicon:before, .menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ ul {
  max-height: 500px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.smaller-text span:before, .smaller-text span:after {
  content: '';
  position: absolute;
  width: 500px;
  border-bottom: 1px white solid;
  height: 50%;
}

.home {
  padding-top: 60px;
  background: url("../img/img_1.jpg") center no-repeat;
  background-size: cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .home-wrapper {
  align-self: flex-start;
  overflow: hidden;
  line-height: 250%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.home .home-wrapper h1 {
  margin-top: 0;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 500;
}
@media (min-width: 750px) {
  .home .home-wrapper h1 {
    font-size: 74px;
  }
}
.home .home-wrapper p:last-child {
  padding-top: 25px;
}
.home .home-wrapper .btn {
  border: 2px white solid;
  border-radius: 25px;
  padding: 12px 55px;
  font-size: 18px;
  text-transform: uppercase;
}
.home .arrows-wraper {
  margin: 0 auto;
  margin-bottom: 60px;
}

.smaller-text {
  margin-bottom: 0;
}
.smaller-text span {
  display: inline-block;
  line-height: 0.2;
  position: relative;
  font-size: 32px;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}
.smaller-text span:before {
  right: 100%;
  margin-right: 10px;
}
.smaller-text span:after {
  left: 100%;
  margin-left: 10px;
}

@keyframes start {
  0% {
    stroke-dashoffset: 691;
  }
}
.check-us-wrapper {
  position: relative;
}
@media (min-width: 750px) {
  .check-us-wrapper {
    height: 450px;
  }
}

.crprogress-bar-first {
  display: block;
}
.crprogress-bar-first h3 {
  color: #f04939;
}
@media (min-width: 750px) {
  .crprogress-bar-first {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 1100px) {
  .crprogress-bar-first {
    width: 18.64407%;
    float: left;
    margin-right: -100%;
    margin-left: 6.77966%;
    clear: none;
  }
}

.crprogress-bar-second {
  display: block;
}
.crprogress-bar-second h3 {
  color: #02998a;
}
@media (min-width: 750px) {
  .crprogress-bar-second {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 40.67797%;
    clear: none;
  }
}
@media (min-width: 1100px) {
  .crprogress-bar-second {
    width: 18.64407%;
    float: left;
    margin-right: -100%;
    margin-left: 40.67797%;
    clear: none;
  }
}

.crprogress-bar-third {
  display: block;
}
.crprogress-bar-third h3 {
  color: #152c3c;
}
@media (min-width: 750px) {
  .crprogress-bar-third {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1100px) {
  .crprogress-bar-third {
    width: 18.64407%;
    float: left;
    margin-right: -100%;
    margin-left: 74.57627%;
    clear: none;
  }
}

.check-us-crprogress-bar {
  background-color: blue;
  width: 225px;
  margin-top: 40px;
  position: relative;
}
.check-us-crprogress-bar svg:nth-child(2) {
  position: absolute;
  top: 2px;
  left: -2px;
  transform: rotate(60deg);
}
.check-us-crprogress-bar svg:nth-child(2) circle {
  fill: none;
  stroke-width: 4;
  stroke-dasharray: 691;
  animation: start 10s;
  opacity: 0.9;
}
.check-us-crprogress-bar h3 {
  width: 100%;
  position: absolute;
  text-align: center;
  top: -6%;
  font-size: 75px;
}
.check-us-crprogress-bar h3 span {
  font-weight: 300;
  font-size: 18px;
  color: black;
  display: block;
  text-transform: uppercase;
}
.check-us-crprogress-bar p {
  text-align: center;
  color: black;
}

.our-team {
  padding-top: 50px;
  height: 300px;
  background: url("../img/img_2.jpg") center no-repeat;
  background-size: cover;
}
