/* line 6, ../scss/main.scss */
body p {
  color: blue;
}

/* line 11, ../scss/main.scss */
head {
  background-size: cover;
}

/* line 15, ../scss/main.scss */
.cool {
  color: white;
}
/* line 18, ../scss/main.scss */
.cool a {
  background-size: 122px;
}
