@import 'breakpoint';
@import 'singularitygs';
@import 'compass/css3';

@import 'social/*.png';
@import 'brands/*.png';
// @import 'projects/*.jpg';

$grids: 15;
$gutters: 1/3;

$primary-color: #ffffff;
$secondary-color: invert($primary-color);

header	{
	height: 80px;
	display: inline-block;
	display: flex;
	flex-direction: row;

	.logoIcons-wrapper	{
		background-color: $primary-color;
		width: 72%;

	}
	.menu-wrapper	{
		background-color: $secondary-color;
		width: 28%;
		ul	{
			margin: 0;
			padding: 0;
			background-color: #000000;
			list-style: none;
			// max-height: 0;
			li	{
				text-align: center;
				a	{
					padding: 10px 0;
					color: #cccccc;
					display: block;
					text-decoration: none;
					&:hover	{
						background-color: #262626;
					}
				}
			}
		}

	}
}
%naviconbars	{
	display: block;
	content: '';
	background-color: $primary-color;
	position: absolute;
	top:5px;
	height: 1px;
	width: 15px
}
.menu-icon	{
	cursor: pointer;
	display: inline-block;
	padding: 33px 30px;
	position: relative;
	// background: green;
	@include user-select(none);
	.navicon	{
		display: block;
		background-color: $primary-color;
		height: 1px;
		width: 15px;
		position: relative;
		&:before	{
			@extend %naviconbars;
			top: 7px;
		}
		&:after	{
			@extend %naviconbars;
			top: -7px;
		}
	}
}

