@import 'breakpoint';
@import 'singularitygs';
@import 'compass/css3';

// ------------------ sprites ---------------------

$logo-social-layout: horizontal;
@import 'logo-social/*.png';
@import 'brands/*.png';

@import 'media';

@include all-logo-social-sprites;

// ------------------ grids ---------------------

// $grids: 5;
// $gutters: 1/3;

@include add-grid(15 at 1100px);
// @include add-grid(3 at 750px);
@include add-gutter(1/3);
// @include sgs-change(debug,true);

// ------------------ variables ---------------------

$primary-color: #ffffff;
$secondary-color: invert($primary-color);
$basic-font: 'Quicksand', sans-serif;
$secondary-font: 'Dosis', sans-serif;
$nav-mobile: (480px) (orientation landscape);

// $bold-font: ;

// ------------------ mixins ---------------------

// prefix($name,$value)	{
// 	moz-$name: $value;
// }

// ------------------ sass ---------------------

body	{
	margin: 0;
	padding: 0;
	font-family: $basic-font;
	color: $primary-color;
	// @include background-grid;
}

.wrapper	{
	margin: 0 auto;
	max-width: 1180px;
}
.btn	{
	cursor: pointer;
	text-decoration: none;
	color: white;
	&:hover	{
		opacity: 0.9;
	}
	&:active	{
		color: white;
	}
	&:visited	{
		color: white;
	}
}


%sections-position	{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sections-wrapper	{
	margin-left: 20px;
	margin-right: 20px;
	max-width: 1080px;
	width: 100%;
	height: 200px;
	border: 2px solid white;
	text-align: center;
	// margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	.sections-wrapper-hiddenBox	{
		// height: 100%;
		overflow: hidden;
		display: inline-block;
		line-height: 110%;
		p	{
			// margin-top: 30px; 
			span	{
			font-size: 18px;
			}
		}
		h2	{
		color: $primary-color;
		font-size: 50px;
		text-transform: uppercase;
		margin-top: 0;
		
		}
	}
}

// ------------------ nav ---------------------


nav	{
	height: 60px;

	@include breakpoint(orientation landscape)	{
		height: 60px;
	}
	@include breakpoint(480px)	{
		height: 80px;
	}
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	z-index: 10;
	width: 100%;
	ul	{
		padding-top: 0;
		list-style: none;
		@include user-select(none);
		li a	{
			display: block;
			text-decoration: none;
		}
	}
}


.logo-social-wrapper	{
	background-color: $primary-color;
	width: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@include breakpoint(480px)	{
		width: 72%;
	}
	@include breakpoint(orientation landscape)	{
		width: 0;
	}
	ul	{
		display: none;
		@include breakpoint(orientation landscape)	{
			display: none;
		}
		@include breakpoint(720px)	{
			display: block;
			margin-right: 30px;
			li	{
				display: inline;
				a	{
					display: inline-block;
					height: 37px;
					width: 36px;
					text-indent: -9999px;
				}
			}	
		}	
	}
}

.logo-social-logo	{
	display: block;
	position: absolute;
	height: 45px;
	width: 100px;
	left: 35px;
	text-indent: -9999px;
	cursor: pointer;
	@include breakpoint(480px)	{
		position: relative;
		margin-left: 18%;
	}
	@include breakpoint(orientation landscape)	{
		position: absolute;
		margin-left: 0;
	}
}

// ------------------ menu ---------------------
.menu	{
	@include breakpoint(480px)	{
		width: 28%;

	}
	@include breakpoint(orientation landscape)	{
		width: 100%;                                              //?????
	}
	background-color: $primary-color;
	display: flex;
	@include breakpoint(480px)	{
		flex-direction: column;
		background-color: $secondary-color;
	}
	@include breakpoint(orientation landscape)	{
		background-color: $primary-color;
		flex-direction: row;                                              //?????
	}	

	width: 100%;
	height: 100%;

}
.menu-wrapper	{
	@include breakpoint(480px)	{
		display: block;
		padding-top: 5px;
		align-items: center;
	}
	@include breakpoint(orientation landscape)	{
		display: inline-block;
		padding-top: 0;
	}
	width: 100%;
	ul	{
		clear: both;
		@include breakpoint(480px)	{
			background-color: $secondary-color;
		}
		@include breakpoint(orientation landscape)	{
			background-color: $primary-color;
		}
		margin: 0;
		padding: 0;
		background-color: $primary-color;
		list-style: none;
		overflow: hidden;
		max-height: 0;
		@include transition-property(max-height);
		@include transition-duration(.5s);
		// @include transition-timing-function(ease-out);
		// transition: max-height .2s ease-out;
		li	{
			text-align: center;
			// background-color: $primary-color;
			@include breakpoint(480px)	{
				// background-color: $secondary-color;
				color: $primary-color;
			}
			@include breakpoint(orientation landscape)	{
				color: $secondary-color;
			}
			&:first-child	{
				padding-top: 5px;
			}
			&:last-child	{
				padding-bottom: 5px;
			}
			// &:hover	{
			// 	background-color: $primary-color;
			// 	@include breakpoint(480px)	{
			// 		background-color: #262626;
			// 		color: $primary-color;
			// 	}
			// }
			a	{
				padding: 20px 0;
				color: $secondary-color;
				@include breakpoint(480px)	{
					color: $primary-color;
				}
				@include breakpoint(orientation landscape)	{
					color: $secondary-color;
				}
				&:hover	{
					color: $primary-color;
					background-color: $secondary-color;
					@include breakpoint(480px)	{
						color: $primary-color;
						background-color: #262626;
					}
					@include breakpoint(orientation landscape)	{
						color: $secondary-color;
					}
					
				}
			}
		}
	}
}

%navicon-bar	{
	background-color: $secondary-color;
	@include breakpoint(480px)	{
		background-color: $primary-color;
	}
	@include breakpoint(orientation landscape)	{
		background-color: $secondary-color;
	}
	display: block;
	content: '';
	position: absolute;
	top: 5px;
	height: 1px;
	width: 15px
}
%transition-menu	{
		@include transition-property(all);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-out);
}
.menu-icon	{
	float: right;
	padding: 33px 30px 26px 30px;
	@include breakpoint(480px)	{
		float: none;
		padding-bottom: 33px;
	}
	@include breakpoint(orientation landscape)	{
		float: right;
		padding: 33px 30px 26px 30px;
	}
	cursor: pointer;
	display: inline-block;
	
	// position: relative;
	@include user-select(none);
	.navicon	{
		background-color: $secondary-color;
		@include breakpoint(480px)	{
			background-color: $primary-color;
		}
		@include breakpoint(orientation landscape)	{
			background-color: $secondary-color;
		}
		display: block;
		height: 1px;
		width: 15px;
		position: relative;
		@extend %transition-menu;
		@include transition-property(background);

		&:before	{
			@extend %navicon-bar;
			@extend %transition-menu;
			top: 7px;
		}
		&:after	{
			@extend %navicon-bar;
			@extend %transition-menu;
			top: -7px;
		}
		p	{
			clear: both;
			display: none;
			@include breakpoint(480px)	{
				display: inline;
				position: absolute;
				left: 35px;
				top: -25px;
				color: $primary-color;
			}
			@include breakpoint(orientation landscape)	{
				display: none;
				clear: both;
			}
		}
	}
}
%inline-navicon-bar	{
	top:0;
}
.menu-btn	{
	display: none
}

.menu-btn:checked ~ ul	{
	max-height: 500px;
}

.menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}
 
.menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
	@extend %inline-navicon-bar;

}
 
.menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
	@extend %inline-navicon-bar;
}

// ------------------ jumbotron ---------------------

%middle-height-line	{
	content:'';
	position: absolute;
	width: 500px;
	border-bottom: 1px white solid;
	// top: 5px;
	height: 50%;

}

.home	{
	position: relative;
	padding-top: 60px;
	// padding-bottom: 100px;

	background: url('../img/img_1.jpg') center  no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	@include breakpoint(480px)	{
		// padding: 80px;
	}
	@include breakpoint(max-width 860px)	{
		height: 100vh;
		padding-bottom: 0;
		// padding-bottom: 300px;


	}
	.home-wrapper	{
		transform: translateY(30vh); //portrait
		@include breakpoint(orientation landscape)	{
			transform: translateY(5vh);                                              //?????
		}
		overflow: hidden;
		line-height: 250%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@include breakpoint(max-width 960px)	{
			align-self: flex-start; // landscape
			margin-top: 2%;  //landscape
		}
		h1	{
			margin-top: 0;
			font-size: 52px;
			text-transform: uppercase;
			font-weight: 500;
			@include breakpoint(750px)	{
			font-size: 74px;
			}
			@include breakpoint(max-width 960px orientation landscape)	{
				font-size: 42px;
			}
		}
		p:last-child	{
			padding-top: 25px;

		}

		.btn	{
			border: 2px white solid;
			border-radius: 25px;
			padding: 12px 55px;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	.arrows-wraper	{
		position: absolute;
		margin: 0 auto;
		left: 50%;
		bottom: 10px;
		transform: translateX(-50%);
		@include breakpoint(max-height 520px)	{
			display: none;
		}
		@include breakpoint(max-width 860px)	{
			margin-bottom: 100px;
		}
		@include breakpoint(orientation landscape)	{
			margin-bottom: 60px;
		}
	}
}

.smaller-text	{
			margin-bottom: 0;
			span	{

				display: inline-block;
				line-height: 0.2;
				position: relative;
				font-size: 32px;
				font-family: $secondary-font;
				font-weight: 300;
				@include breakpoint(orientation landscape)	{
					font-size: 22px;
				}
				&:before	{
					@extend %middle-height-line;
					right: 100%;
					margin-right: 10px;

				}
				&:after	{
					@extend %middle-height-line;
					left: 100%;
					margin-left: 10px;
				}
			}
		}


// ---------------------------------- CIRCLES -------------------------------------

@keyframes start	{
	0%	{
		stroke-dashoffset: 691;
	}
}


.check-us-wrapper	{
	// background-color: white;
	height: 450px;
	position: relative;
	@include breakpoint(max-width 860px)	{
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@include breakpoint(861px 1100px)	{
		height: 450px;
		display: flex;
		justify-content: space-between;
		margin: 0 45px;

	}
	// display: flex;

}

.crprogress-bar-first	{
	display:block;
			h3	{
			color: #f04939;
		}	
	// @include breakpoint(750px)	{
	// 	@include grid-span(1,1);

	// }
	@include breakpoint(1100px)	{
		@include grid-span(3,2);

	}
}
.crprogress-bar-second	{
	display:block;
	// margin: 0 auto;

			h3	{
			color: #02998a;
		}
	// @include breakpoint(750px)	{
	// 	@include grid-span(1,2);
	// 	// text-align: center;

	// }
	@include breakpoint(1100px)	{
		@include grid-span(3,7);

	}
}
.crprogress-bar-third	{
	display:block;
			h3	{
			color: #152c3c;
		}
	// @include breakpoint(750px)	{
	// 	@include grid-span(1,3);

	// }
	@include breakpoint(1100px)	{
		@include grid-span(3,12);

	}
}
.check-us-crprogress-bar-wrapper	{
// height: 400px;
// background-color: red;
// position: relative;
}
.check-us-crprogress-bar	{
	// background-color: blue;
	// width: 100%;
	width: 225px;
	margin-top: 40px;
	position: relative;
	svg	{
		&:nth-child(2)	{
			position: absolute;
			top: 2px;
			left: -2px;
			transform: rotate(60deg);
		}
		&:nth-child(2) circle	{
			fill: none;
			// stroke:"red";
			stroke-width: 4;
			stroke-dasharray: 691;
			animation: start 10s;
			opacity: 0.9;
		}
	}
	h3	{
		width: 100%;
		position: absolute;
		text-align: center;
		top: -6%;
		// left: 0%;
		font-size: 75px;
		span	{
			font-weight: 300;
			font-size: 18px;
			color: black;
			display: block;
			// text-align: center;
			text-transform: uppercase;

		}
	}
	p	{
		text-align: center;
		color: $secondary-color;
	}
}

// ---------------------------------- Our team section -------------------------------------

.our-team	{
	@extend %sections-position;
	background: url('../img/img_2.jpg') center  no-repeat;
	background-size: cover;
}

// ---------------------------------- Team members -------------------------------------

.team-members	{
	// margin-left: 20px;
	// margin-right: 20px;
}
.team-member-wrapper	{
	color: $secondary-color;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	// margin-left: 20px;
	// margin-right: 20px;
	@include breakpoint(861px)	{
		flex-direction: row;

	}
	// max-width: 
}
%team-member-photo	{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	max-width: 590px;
	height: 260px;
	background-size: cover;
	padding: 20px 0px 20px 20px;
	@include breakpoint(max-width 860px)	{
		order: 2;
		padding: 0px 20px 20px 20px;
	}
}
.team-member-photo1	{
	@extend %team-member-photo;
}
.team-member-photo2	{
	@extend %team-member-photo;
}
.team-member-photo1:after	{
	position: absolute;
	right: 0px;
	top: 100px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32.5px 30px 32.5px 0;
	border-color: transparent #ffffff transparent transparent;
	@include breakpoint(max-width 860px)	{
		-ms-transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    transform: rotate(270deg);
	    top:-18px;
	    right:47%;
	}
}
.team-member-photo2:after	{
	position: absolute;
	left: 0px;
	top: 100px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 0 35px 30px;
	border-color: transparent transparent transparent #ffffff;
	@include breakpoint(max-width 860px)	{
		-ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    top:-20px;
	    left:48%;
	}
}
.team-member-photo-border-wraper	{
	height: 100%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	@include breakpoint(max-width 860px)	{
		border-top: none;
		border-right: 2px solid white;
	}
}
.team-member-description	{
	box-sizing: border-box;
	width: 100%;
	max-width: 590px;
	height: 260px;
	// background-color: blue;
	// padding-top: 20px;
	// padding-bottom: 20px;
	// padding-right: 20px;
	padding: 20px 20px 20px 0px;
	@include breakpoint(max-width 860px)	{
		order: 1;
		padding: 20px 20px 0px 20px;
	}

}
.team-member-description-border-wraper	{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	@include breakpoint(max-width 860px)	{
		border-bottom: none;
		border-left: 2px solid black;
	}



	hr	{
		border: 0;
		background-color: #f34739;
		width: 180px;
		height: 2px;
	}
	p	{
		// margin: 0 175px;
		// display: block;
	}
}

.adrianna-bg	{
	background: url('../img/team_01.jpg') center  no-repeat;


}

.olivia-bg	{
	background: url('../img/team_02.jpg') center  no-repeat;
	
}

.thomas-bg	{
	background: url('../img/team_03.jpg') center  no-repeat;
	
}

.taylor-bg	{
	background: url('../img/team_04.jpg') center  no-repeat;
	
}

.invert-description	{
	order:1;
	padding: 20px 0px 20px 20px;
		@include breakpoint(max-width 860px)	{
			padding: 20px 20px 0px 20px;

	}
}

.invert-photo	{
	order:2;
	padding: 20px 20px 20px 0px;
	@include breakpoint(max-width 860px)	{
		padding: 0px 20px 20px 20px;

	}
}

.invert-description-border	{
	border-right: none;
	border-left: 2px solid black;
	@include breakpoint(max-width 860px)	{
		border-bottom: none;
		border-right: 2px solid black;
	}
}

.invert-photo-border	{
	border-left: none;
	border-right: 2px solid white;
	@include breakpoint(max-width 860px)	{
		border-top: none;
		// border-right: 2px solid white;
		border-left: 2px solid white;;
	}
}

// ---------------------------------- Portfolio section -------------------------------------

.portfolio	{
	@extend %sections-position;
	background: url('../img/img_3.jpg') center  no-repeat;
	background-size: cover;

}

// ---------------------------------- Portfolio projects section -------------------------------------

.portfolio-projects	{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.portfolio-projects-thumbnail-wrapper	{
		min-width: 14.28%;
		@include breakpoint(max-width 1100px)	{
			min-width: 20%;

		}
		@include breakpoint(max-width 860px)	{
			min-width: 25%;

		}
		@include breakpoint(max-width 480px)	{
			min-width: 33.3333%;

		}
		.portfolio-projects-thumbnail	{
			position: relative;
			width: 100%;
			height: 0;
			padding-top: 92.857%; 
			background-size: 100%;
			// opacity: 0.6;
		    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		    filter: grayscale(100%);
			&:hover	{
				-webkit-filter:saturate(1) contrast(120%); /* Safari 6.0 - 9.0 */
			    filter:saturate(1) contrast(120%);
			    cursor: pointer;
			}
			embed	{
				// width: 40%;
				// height: 40%;
				// max-width: 204px;
				// max-height: 70px;
				position: absolute;
				top: 20%;
				left: 0;
				opacity: 0;
				&:hover	{
					opacity: 0.4;
				}
			}
		}
	}
}

.project1	{
	background: url('../img/projects/projects_02.jpg') center  no-repeat;
}
.project2	{
	background: url('../img/projects/projects_03.jpg') center  no-repeat;
}
.project3	{
	background: url('../img/projects/projects_04.jpg') center  no-repeat;
}
.project4	{
	background: url('../img/projects/projects_05.jpg') center  no-repeat;
}
.project5	{
	background: url('../img/projects/projects_06.jpg') center  no-repeat;
}
.project6	{
	background: url('../img/projects/projects_07.jpg') center  no-repeat;
}
.project7	{
	background: url('../img/projects/projects_08.jpg') center  no-repeat;
}
.project8	{
	background: url('../img/projects/projects_09.jpg') center  no-repeat;
}
.project9	{
	background: url('../img/projects/projects_10.jpg') center  no-repeat;
}
.project10	{
	background: url('../img/projects/projects_11.jpg') center  no-repeat;
}
.project11	{
	background: url('../img/projects/projects_12.jpg') center  no-repeat;
}
.project12	{
	background: url('../img/projects/projects_13.jpg') center  no-repeat;
}
.project13	{
	background: url('../img/projects/projects_14.jpg') center  no-repeat;
}
.project14	{
	background: url('../img/projects/projects_15.jpg') center  no-repeat;
}
.project15	{
	background: url('../img/projects/projects_16.jpg') center  no-repeat;
}
.project16	{
	background: url('../img/projects/projects_17.jpg') center  no-repeat;
}
.project17	{
	background: url('../img/projects/projects_18.jpg') center  no-repeat;
}
.project18	{
	background: url('../img/projects/projects_19.jpg') center  no-repeat;
}
.project19	{
	background: url('../img/projects/projects_20.jpg') center  no-repeat;
}
.project20	{
	background: url('../img/projects/projects_21.jpg') center  no-repeat;
}
.project21	{
	background: url('../img/projects/projects_22.jpg') center  no-repeat;
	@include breakpoint(480px 1100px)	{
		display: none;
	}
}


// ---------------------------------- Brands section -------------------------------------


.brands	{
	@extend %sections-position;
	background: url('../img/img_3.jpg') center  no-repeat;
	background-size: cover;
}
// ---------------------------------- Brands-list section -------------------------------------


.brands-lists	{
	background: url('../img//brands/brands_S.png') center  no-repeat;  // pewnie zmiana na jpg jeśli sprite'y
	height: 700px;
	@include breakpoint(861px 1100px)	{
		background: url('../img//brands/brands_M.png') center  no-repeat;
	}
	@include breakpoint(1100px)	{
		background: url('../img//brands/brands_L.png') center  no-repeat;
	}
}

// ---------------------------------- Footer -------------------------------------

footer	{
	background-color: #101010;
	height: 100%;
	.footer-row	{
		height: 236px;
		margin: 0 auto;
		width: 100%;
		max-width: 900px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		@include breakpoint(861px 1100px)	{
			justify-content: space-around;
		}
		@include breakpoint(max-width 860px)	{
			flex-direction: column;
			height: 100%;
			padding: 20px 0;

		}

		p:first-child	{
			font-size: 28px;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 0;
			@include breakpoint(max-width 860px)	{
				margin-top: 40px;
			}
		}
		hr	{
			border: 0;
			background-color: #009889;
			width: 140px;
			height: 1px;
		}
		p:last-child	{
			font-size: 16px;
			letter-spacing: 2px;
			opacity: 0.3;
			margin-top: 25px;
		}
	}
	.footer-copyright	{
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: center;
		opacity: 0.3;
		font-size: 12px;
	}
}