@import 'breakpoint';
@import 'singularitygs';

@import 'social/*.png';
@import 'brands/*.png';
// @import 'projects/*.jpg';

body {
	p	{
		color: blue;
	}
}

head {
	background-size: cover;
}

.cool	{
	color: white;

	a {
		background-size: 122px;
	}
}